<%- include ("./partials/head.ejs") %>

<div class="all-questions-container">
    <div class="question-container question-container-top">
        <fieldset>
            <legend>Bedankt voor het invullen van de enquete!</legend>
            <div class="question-wrapper">
                <a href="/" class="question-navigate-button">
                    <p><strong>Ga naar homepage</strong></p>
                </a>
            </div>
        </fieldset>
    </div>
</div>

<%- include ("./partials/footer.ejs") %>
