<%- include ("./partials/head.ejs") %>

<div class="all-questions-container">
    <div class="question-container question-container-top">
        <form action="/login" method="POST">
            <fieldset>
                <legend>Wat was je pin</legend>
                <div class="question-wrapper">
                    <button href="/" class="question-navigate-button">
                        <p><strong>Ga terug</strong></p>
                    </button>
                    <div class="question-form-container">
                        <div class="answer-container">
                            <label for="pin">Pin:</label>
                            <input type="number" id="pin" name="pin">
                        </div>
                    </div>
                    <button type="submit" class="question-navigate-button"  name="navigate" value="next">
                        <p>Begin!</p>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<%- include ("./partials/footer.ejs") %>
