<%- include ("./partials/head.ejs") %>

<!--Script used for copying the pin-->
<script defer src="/js/copy-pin-script.js"></script>

<div class="all-questions-container">
    <div class="question-container question-container-top">
        <fieldset>
            <legend>Hier is je pin:</legend>
            <div class="question-wrapper">
                <div class="question-form-container">
                    <div class="answer-container">
                        <label for="pin">Hier is je pin:</label>
                        <p><strong><%- pin %></strong></p>
                    </div>
                    <a href="#" id="copyButton" class="question-navigate-button" style="visibility:hidden">
                        <p>Copy Pin</p>
                    </a>
                </div>
                <a href="/question1/<%- pin %>" class="question-navigate-button">
                    <p>Begin de enquete</p>
                </a>
            </div>
        </fieldset>
    </div>
</div>

<%- include ("./partials/footer.ejs") %>
