<%- include ("./partials/head.ejs") %>
<div class="question-container question-container-top centered">
    <form action="/question3" method="POST">
        <fieldset>
            <legend><strong>3 -</strong>Wat was het nuttigste wat je geleerd hebt van dit vak?</legend>
            <div class="question-wrapper">
                <!-- <h1>&#x21FD;</h1> = arrow-left -->
                <button type="submit" class="question-navigate-button" name="navigate" value="previous">
                    <h3>Previous</h3>
                </button>

                <div class="question-form-container">

                    <textarea class="textareaInput" name="mostUsefull" rows="2"><%- mostUsefull %></textarea>

                </div>

                <!-- <h1>&#x21FE;</h1> = arrow-riight -->
                <button type="submit" class="question-navigate-button" name="navigate" value="next">
                    <h3>Next</h3>
                </button>
            </div>
        </fieldset>
    </form>
</div>

<%- include ("./partials/footer.ejs") %>
