* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    /* fallback for old browsers */
    background: #DBE6F6;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(90deg, #C5796D, #DBE6F6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(0deg, #C5796D, #DBE6F6);
}

/*https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/
@supports ((animation: fadein) or
          (-o-animation: fadein) or
          (-moz-animation: fadein) or
          (-webkit-animation: fadein)) {
    .question-container {
        /*-webkit-animation: fadein 1s; !* Safari, Chrome and Opera > 12.1 *!*/
        /*-moz-animation: fadein 1s; !* Firefox < 16 *!*/
        /*-o-animation: fadein 1s; !* Opera < 12.1 *!*/
        animation: fadein 1s;
    }
}

/*https://stackoverflow.com/questions/18907131/detecting-ie11-using-css-capability-feature-detection*/
/*Only targets IE10  and IE11. animations only work on IE 10+*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .question-container {
        -ms-animation: fadein 1s; /* Internet Explorer */
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.textareaInput {
    /* this is equal to the font size plus the padding of the textarea */
    min-height: 20px;
    min-height: calc(1rem + 4px);

    /* rows="2" if CSS is turned off */
    height: 36px;
    height: calc(2rem + 4px);
}

.all-questions-container {
    display: table-cell;
    display: flex;

    flex-direction: column;
    width: 100%;
    height: 285px;
}

.question-container {
    position: relative;
    margin: 8px;
    max-width: 500px;
}

.answer-container {
    width: 100%;
    margin: 8px;
    white-space: nowrap;
}

.question-form-container {
    margin: auto;

    display: table-cell;
    display: flex;

    flex-flow: wrap;
    justify-content: center;
    max-width: 282px;
    text-align: center;
}

.question-navigate-button {
    height: 25px;
    width: fit-content;

    padding: 4px;

    text-decoration: none;

    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
}

/*All paragraph text in the navigate buttons*/
.question-navigate-button p {
    margin: 0;
}

/* The arrows inside of the buttons */
.question-navigate-button h1 {
    /* applies to the arrows in the buttons for navigating */
    text-decoration: none;
    margin: 0px;
    color: black;

    margin-top: -10px;
}

.question-answer {
    color: black;

    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;

    width: 125px;
    height: fit-content;

    margin: 8px;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.question-wrapper {
    display: table-cell;
    display: flex;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

#age {
    /* fallback */
    width: 35px;
    /* The arrows of increasing/decreasing the number is 19px wide */
    width: calc(1rem + 19px);
}
