* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    /* background: #23074d; */
    height: 100%;
    width: 100%;
    /* background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}

legend {
    /* Let the text of the question title stay on one line */
    white-space: nowrap;
}

textarea {
    /* this is equal to the font size plus the padding of the textarea */
    min-height: 20px;
    min-height: calc(1rem + 4px);

    /* rows="2" if CSS is turned off */
    height: 36px;
    height: calc(2rem + 4px);
}

.all-questions-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 285px;
}

.question-container {
    position: relative;
    margin: 8px;
    background-color: white;
    max-width: 500px;
}

.answer-container {
    width: 100%;
    margin: 8px;
    white-space: nowrap;
}

.answer-container label {
    display: inline-flex;
    margin: 0;
}

.question-form-container {
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 282px;
    text-align: center;
}

.question-navigate-button {
    height: 25px;
    width: fit-content;

    padding: 4px;

    text-decoration: none;

    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
}
/*All paragraph text in the navigate buttons*/
.question-navigate-button p{
    margin: 0;
}

/* The arrows inside of the buttons */
.question-navigate-button h1 {
    /* applies to the arrows in the buttons for navigating */
    text-decoration: none;
    margin: 0px;
    color: black;

    margin-top: -10px;
}

.question-answer {
    color: black;

    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;

    width: 125px;
    height: fit-content;

    margin: 8px;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.question-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.bottom-left {
    /* right: 45%;
    left: 5%; */
    z-index: 1;
    top: 8%;
}

.middle-left {
    /* right: 35%;
    left: 15%; */
    z-index: 3;
    top: 4%;
}

.top {
    /* right: 25%;
    left: 25%; */
    z-index: 4;
}

.middle-right {
    /* right: 15%;
    left: 35%; */
    z-index: 2;
    top: 4%;
}

.bottom-right {
    /* right: 5%;
    left: 45%; */
    z-index: 0;
    top: 8%;
}

#age {
    /* fallback */
    width: 35px;
    /* The arrows of increasing/decreasing the number is 19px wide */
    width: calc(1rem + 19px);
}

.question-wrapper-top {
    /* height: 250px; */
}

.question-wrapper-middle {
    height: 200px;
}

.question-wrapper-bottom {
    height: 150px;
}

@media screen and (max-width: 700px) {
    .bottom-left {
        visibility: hidden;
    }

    .bottom-right {
        visibility: hidden;
    }
}

/* @media screen and (max-width: 700px) { */
.bottom-left {
    /* display: none; */
}

.bottom-right {
    /* display: none; */
}

/* } */
/* @media screen and (max-width: 600px) { */
.middle-left {
    /* display: none; */
}

.middle-right {
    /* display: none; */
}

/* } */